.container{
    width: 28rem;
    height: 14rem;
    background-color: 	#18191A;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-radius: 2rem;
    border: 2px solid #393A3B;
}
.image{
    margin-left: 1rem;
    width:  10rem;
    height: 12rem;
    border-radius: 2rem;
}
.desc{
    font-size: 1rem;
    color:#B3B3A4;
    cursor: default;
    margin-right: 100px;
    text-align: center;
    
}

.name {
    color: #E4E6EB;
    font-size: 1.2rem;
    cursor: default;
}